# Fichiers système et IDE
.DS_Store
.idea/
Web/.idea/

# Environnements virtuels
.venv/
Web/venv/

# Fichiers secrets & BDD
Web/.env
*.db
.env

# Fichiers Python compilés
*.pyc
__pycache__/

# Documents générés (sauf assets statiques)
*.pdf
